/* -----RESET----- */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    height: 0;
  }

/*---BLOG---*/
.body-blog {
    display: flex;
    
}
.blog-content {
    /* padding-top: 20px; */
    /* padding-left: 30vw; */
    width: 80%;
    margin: auto;
    font-size: 20px;
    padding: 66px 0 40px 0;
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}
.blog-img {
    display: none;
    background-image: url('https://source.unsplash.com/lqZPleZ4ERA/');
    min-height: 100vh;
    width: 30vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    /* margin-top: -10vh; */
    /* z-index: 0 */
}

/* .post-image {
    max-height: 50vh;
    max-width: 90vw;
} */

.post-image {
    max-height: 50vh;
    max-width: 80vw;
    border: 1px solid rgb(3, 115, 102);
    align-self: center;
}


.divide {
    display: flex;
    justify-content: space-between;
}

.day1-content {
    /* padding-top: 20px; */
    /* padding-left: 30vw; */
    /* margin-top: -40vh; */
    width: 85%;
    margin: auto;
    background-color: white;
    padding-bottom: 20px;
    /* background-color: rgba(191, 191, 191, 0.478); */
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

.day1-text {
    padding-top: 50px;
    width: 80%;
    margin: auto;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
.day1-img {
    background-color: rgb(93, 0, 0);
    /* background-image: url('https://source.unsplash.com/lUD9KmRnxDE/'); */
    min-height: 100vh;
    background-position: 100 50;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* position: fixed; */

}

.date {
    color: rgb(87, 87, 87); 
}

.challenge-p{
    margin-bottom: 0;
    font-size: 17px;
    margin-top: 4vh;
}

/* ------NAVBAR------ */

#navbar{
    /* display: none; */
    list-style: none;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 0 9%; */
    z-index: 40;
    height: 10vh;
    transition: background-color 0.5s ease-in-out;
    width: 100%;
    text-align: right;
}

.nav {
    padding: 0 9%;
}

.nav-load {
    /* display: flex; */
    padding: 0 9%;

    margin-top: -10vh;
    background-color: rgba(148, 151, 151, 0.645);

}

.nav-load-all {
    background-color: rgba(3, 115, 102, 0.529);
    /* z-index: 2; */
}

/* .nav-load-intro {
    background-color: rgba(3, 115, 102, 0.529);
    position: absolute;
    padding: 0 4%;
} */

.nav-scroll {
    margin-top: 0;
    background-color: rgba(3, 115, 102, 0.529);
    position: fixed;
    top: 0;
}

#navbar ul {
    float: right;
    display: flex;
     flex-direction: row; 
    align-content: space-around; 
}

.logo{
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

#navbar a {
    transition: .5s all ease-out;
    color: rgb(87, 87, 87);
    text-decoration: none;
    text-align: right;
}

#navbar a:hover {
    color: #000;
}

#navbar li{
    float: left;
    display: block;
    text-align: center;
    padding: 0 6px;
    border: none;
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size: 16px;
}

#navbar li.active a {
    border-top: 3px solid #333;
    color: #333;
}

/*-----BURGER-----*/
#burger-nav {
    display: none;
    width: 10%;
    position: absolute;
    right: 0;
}
.burg {
    border: 2px solid gray;
    background: gray;
    margin-top: 5px;
}
.nav-modal {
    display: none;
}

.nav-modal-active {
    background-color: rgba(0, 128, 0, 0.33);
    height: 100vh;
    width: 100vh;
    position: fixed;
    z-index:100;
}

.nav-modal-active ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style: none;
}

.nav-modal-active li a {
    text-decoration: none;
}

/* ----SECTIONS---- */
.container{
    height: 300vh;
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}
.content{
    font-size: 20px;
}

.about{
    background-image: linear-gradient(rgba(1, 96, 82, 0.299), rgba(1, 96, 82, 0.666)), url('./IMAGES/mtagung.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 85% 50%;
    height: 100vh;
    transition: padding 0.2s linear;
}

.about-text h1 {
    padding-bottom: 50px;
}

.about-text div h3,
.about-text h1 {
    text-align: center;
    margin: 0px 45% 5px 20px;
    padding-top: 0;

}
.about-text{
    transition: all 0.5s ease-in-out;
    padding: 100px 0;
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    color: rgb(111, 111, 111);
    z-index: 10;
}

.hidden {
    opacity: 0;
}

h1 {
    font-size: 3em;
}
h3 {
    font-size: 1.5em;
}

section a {
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size: 30px;
    padding: 3% 0 0 3%;
}



.portfolio{
    /* margin-top: -60px; */

    position: relative; 
    margin: 40px 0 0 0;
}

.links button {
    border: 1px solid  rgb(93, 0, 0);
    /* color: rgb(154, 154, 154); */
    /* padding: 20px; */
    height: 50px;
    width: 250px;
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size: 16px;
    border-radius: 8px;
    margin: 5px;
    background-color: transparent;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.links button:hover {
    background: rgba(93, 0, 0, 0.563)
}


/*---PROJECTS---*/
a.challenge-link {
    padding-left: 0;
    text-decoration: none;
    color: #2A5DB0;
}

.link-font {
    font-size: 17px;
}

a.challenge-link:hover {
    text-decoration: underline;
}

a.challenge-link:visited {
    color: #2A5DB0;
}

.projects{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 3%;
    justify-content: center;
    align-items: center;
}

#profile {
    position: relative;
}
.profile {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.project-img{
    margin: 3% 2%;
    width: 90%;
    text-align: center;
    border-radius: 5px;
}

.padded {
    padding-bottom: 40px;
}

.project-img a {
    text-decoration: none;
    padding: 0;
    font: inherit;
    display: flex;
    align-content: center;
    align-items: center;
}

.portfolio-img{
    height: 65%;
    width: 100%;
    padding: .8%;
    text-decoration: none;
    border-radius: 5px;
}
.project-title {
    font-size: 1.5em;
    padding: 0;
    margin: 2% 0 0 0;
}
.project-desc{
    padding: 1%;
}

.parallax2{
    background: url('./linkedin.png');     
    background-repeat: no-repeat;
    background-size: 191vw;
    background-position: 64%;
    min-height: 80vh;
}

.title {
    font-variant: small-caps;
    font-size: 18px;
    font-weight: 700;
}

.info{
    display: flex;
    flex-direction: column;
    margin: 0 3%;
    color: rgba(26,26,26,.75);
}

.info h3 {
    font-weight: 100;
    padding-top: 10px;
    margin-bottom: 0;
}

.info ul {
    padding-left: 20px;
}

.resume-element {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume-element-info{
    padding: 2%;
    margin: 1%;
    width: 95%;
}


  /* .sticky + .content {
    padding-top: 50px;
  } */

 .contact {
     color: rgb(154, 154, 154);
     display: flex;
     flex-direction: row;
     min-height: 70vh;
     min-width: 100%;
     text-align: center;
 }

 .green {
     background-color: rgb(3, 115, 102);
     width: 20%;
     min-height: 100%;
     padding-bottom: 40px;
 }

 .red {
     background-color: rgb(93, 0, 0);
     width: 80%;
     padding: 28px 25vw 40px 10px;
     display: flex;
     flex-direction: column;
     font-size: 1.5em;
     font-weight: 700;
 }

 .red p{
     margin: 0;
 }

 .red h3 {
     margin-bottom: 0;
 }

 .icons a {
     text-decoration: none;
     color: rgb(154, 154, 154);
     padding: 0 10px;
 }

 .icons a:visited {
    color: rgb(154, 154, 154);

}

 .icons {
     display: flex;
     flex-direction: row;
     justify-content: center;
     
     margin: 1.5em;
  }

  /* FOOTER */

  footer {
      background-color: black;
      height: 17vh;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      /* justify-items: center; */
      color: rgb(154, 154, 154);
      font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
      position: absolute;
      width: 100vw;

  }

  .footer-links {
      display:none;
  }

  footer p {
      text-align: center;
  }


  /* RESPONSIVE */

 @media only screen and (min-width : 640px) {

    /* .footer tag {
           margin: 0;
      padding: 3vh 0;
    } */
    .footer-links {
        display:flex;
        flex-direction: row;
        padding-bottom: 2vh;
    }

    .footer-links a {
        text-decoration: none;
        padding: 0 1vw;
        color: rgb(154, 154, 154);

    }

    .footer-links a:visited {
        color: rgb(154, 154, 154);
    }

    .footer-links a:hover {
        text-decoration: underline;
    }

    .post-image {
        max-width: 90vw;

    }

    .nav-load-all, 
    .nav-load-intro {
        padding: 0 9%;
    }
    .project-img {
        width: 43%;
    }

    .about-text div {
        display: flex;
        flex-direction: row;
    }

    .about-text {
        padding: 200px 0;
    }

    .about-text h1,
    .about-text div  {
        margin: 0 0 0 14vw;
        text-align: left;
        padding: 10px 0;
    }

    .about-text div h3 {
        margin: 0 0 0 5px;
    }

    .about {
        background-size: cover;
        background-position: 100% 50%;
        background-attachment: fixed;
    }

    .parallax2 {
        background-size: cover;
    background-position: 100%;
    background-attachment: fixed;

    }

    .resume-element {
        flex-direction: row;
        justify-content: space-around;
    }

    .resume-element-info {
        width: 50%;
    }

    .icons a {
        padding: 0 40px;

    }

    .links {
        flex-direction: row;
    }

    .parallax2 {
        min-height: 100vh;
    }
}

@media only screen and (min-width : 1000px) {
    /* #navbar {
        display: flex;
    }

    #burger-nav {
        display: none;
    } */

    .blog-img {
        display: block;
    }

    .blog-content {
        padding-left: 30vw;
        width: 85%;
    }
    .parallax2 {
        background-position: 100% 9px;
    }
}