/* -----RESET----- */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    height: 0;
    /* background-color: beige; */
  }



/* ------NAVBAR------ */

/* #site-header{
    position: relative;
    padding-top: 0;
} */


#navbar{
    /* display: none; */
    list-style: none;
    overflow: hidden;
    /* background-color: rgba(250, 235, 215, 0.748); */
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    padding: 0 9%;
    z-index: 40;
    height: 10vh;
    transition: background-color 0.5s ease-in-out;
    width: 100%;
    text-align: right;

    /* margin-top: -7aboutaboutvh; */
}

.nav-load {
    /* display: flex; */
    margin-top: -10vh;
    background-color: rgba(148, 151, 151, 0.529);

}

.nav-scroll {
    margin-top: 0;
    background-color: rgba(3, 115, 102, 0.529);
    position: fixed;
    top: 0;
}

#navbar ul {
    float: right;
    display: flex;
     flex-direction: row; 
    align-content: space-around; 
    
}

.logo{
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

#navbar a {
    transition: .5s all ease-out;
    color: rgb(87, 87, 87);
    text-decoration: none;
    text-align: right;
}

#navbar a:hover {
    color: #000;
}

#navbar li{
    
    float: left;
  display: block;
  /* color: #f2f2f2; */
  text-align: center;
  padding: 0 6px;
  border: none;
  /* background-color: rgb(216, 216, 199); */
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 16px;
}

#navbar li.active a {
    border-top: 3px solid #333;
    color: #333;
}


/*-----BURGER-----*/
#burger-nav {
    display: none;
    width: 10%;
    position: absolute;
    right: 0;
}
.burg {
    border: 2px solid gray;
    background: gray;
    margin-top: 5px;
}
.nav-modal {
    display: none;
}

.nav-modal-active {
    
    background-color: rgba(0, 128, 0, 0.33);
    height: 100vh;
    width: 100vh;
    position: fixed;
    z-index:100;
}

.nav-modal-active ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style: none;
}

.nav-modal-active li a {
    text-decoration: none;
}


/* ----SECTIONS---- */
.container{
    height: 300vh;
}
.content{
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size: 20px;
}

.about{
    background-image: linear-gradient(rgba(1, 96, 82, 0.299), rgba(1, 96, 82, 0.666)), url('./IMAGES/mtagung.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 85% 50%;
    background-attachment: fixed;
    height: 100vh;
    transition: padding 0.2s linear;

}

/* .about-text h1 {
    text-align: left;
    margin-bottom: 23%;
} */

.about-text h1 {
    padding-bottom: 50px;
}

.about-text div h3,
.about-text h1 {
    text-align: center;
    margin: 0px 45% 5px 20px;
    padding-top: 0;

}
.about-text{
    /* transition: padding 0.2s linear; */
    transition: all 0.5s ease-in-out;
    padding: 100px 0;
    /* margin-top: -3px; */
    /* margin: 10% auto; */

    /* padding-left: 5%; */
    /* margin-bottom: -20px; */
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    color: rgba(111, 111, 111, 0.7);
    z-index: 10;
}

/* media query
padding: 18vh 0 0 0 ; */


.hidden {
    opacity: 0;
}

h1 {
    font-size: 3em;
}
h3 {
    font-size: 1.5em;
}

section a {
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size: 30px;
    padding: 3% 0 0 3%;
}

.portfolio{
    position: relative; 
    margin: 0;
}


/*---PROJECTS---*/
.projects{
    /* position: fixed; */
    height: 30%;
    width: 100%;
    /* background: linear-gradient(to bottom, #3e5151, #decba4); */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 3%;
    /* padding: 0 2%; */
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

#profile {
    position: relative;
}
.profile {
    /* position: fixed; */
    height: 30%;
    width: 100%;
    /* background: linear-gradient(to top, #3e5151, #decba4); */
    display: flex;
    flex-direction: column;
}

.project-img{
    margin: 3% 2%;
    /* height: 50vh; */
    width: 43%;
    text-align: center;
    /* background-color: rgba(250, 235, 215, 0.487); */
    /* padding: 0; */
    
    /* margin: 0; */
    /* min-height: 100%; */
    border-radius: 5px;
    /* padding: 1% 0; */
}

.project-img a {
    text-decoration: none;
    padding: 0;
    font: inherit;
    display: flex;
    align-content: center;
    align-items: center;
    /* border-radius: 5px; */
}

.portfolio-img{
    height: 65%;
    width: 100%;
    padding: .8%;
    text-decoration: none;
    border-radius: 5px;
}
.project-title {
    font-size: 1.5em;
    padding: 0;
    margin: 2% 0 0 0;
    /* border-bottom: 1px solid black;
    left: 20%;
    right: 20%; */
}
.project-desc{
    padding: 1%;
}

.parallax2{
    background: url('./linkedin.png');     
    background-repeat: no-repeat;
    background-size: 191vw;
    background-position: 64%;
    background-attachment: fixed;
    height: 60vh;
    min-width: 100vw;
}

.title {
    /* text-transform: uppercase; */
    font-variant: small-caps;
    font-size: 18px;
    font-weight: 700;
}

.info{
    display: flex;
    flex-direction: column;
    margin: 0 3%;
    color: rgba(26,26,26,.75);
}

.info h3 {
    font-weight: 100;
    padding-top: 10px;
    /* margin-top: 0; */
    margin-bottom: 0;
}

.info ul {
    padding-left: 20px;
}

.resume-element {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume-element-info{
    padding: 2%;
    margin: 1%;
    width: 95%;
}

/* .company,
.title,
.school {
    text-align: center;
} */

/* .company,
.school{
    font: 15px;
} */
/* .content h3{
    text-align: center;
} */

/* .sticky {
    position: fixed;
    top: 0;
    width: 100%
  } */



  /* .sticky + .content {
    padding-top: 50px;
  } */

 .contact {
     /* background: url('./background.png'); */
     /* background-size: cover;
     background-position: 100%; */
     color: rgb(154, 154, 154);
     /* padding: 5vh 5vw; */
     display: flex;
     flex-direction: row;
     min-height: 70vh;
     /* justify-content: space-around; */
     min-width: 100%;
     text-align: center;
 }

 .green {
     background-color: rgb(3, 115, 102);
     width: 20%;
     min-height: 100%;
     padding-bottom: 40px;

     /* padding: 5vh 0; */
     /* text-align: right;
     padding-right: 10px; */
     /* text-align: center; */

 }

 .red {
     background-color: rgb(93, 0, 0);
     width: 80%;
     padding: 28px 25vw 40px 10px;
     display: flex;
     flex-direction: column;

     /* text-align: center; */
     font-size: 1.5em;
     font-weight: 700;
     /* padding: 5vh 3; */

 }

 .red p{
     margin: 0;
 }

 .red h3 {
     margin-bottom: 0;
 }

 .icons a {
     text-decoration: none;
     color: rgb(154, 154, 154);
     padding: 0 10px;
 }

 .icons a:visited {
    color: rgb(154, 154, 154);

}

 .icons {
     display: flex;
     flex-direction: row;
     justify-content: center;
     
     margin: 1.5em;
  }


 @media only screen and (min-width : 640px) {
    .about-text div {
        display: flex;
        flex-direction: row;
    }

    .about-text {
        padding: 200px 0;
    }

    .about-text h1,
    .about-text div  {
        margin: 0 0 0 14vw;
        text-align: left;
        padding: 10px 0;
    }

    .about-text div h3 {
        margin: 0 0 0 5px;
    }

    .about {
        background-size: cover;
        background-position: 100% 50%;
    }

    .parallax2 {
        background-size: cover;
    background-position: 100%;
    }

    .resume-element {
        flex-direction: row;
        justify-content: space-around;
    }

    .resume-element-info {
        width: 50%;
    }

    .icons a {
        padding: 0 40px;

    }
}

/* @media only screen and (min-width : 1000px) {
    #navbar {
        display: flex;
    }

    #burger-nav {
        display: none;
    }
} */